html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


h2{
  font-weight: bold;
}


#section1 {
  background-image: url(images/headphones.jpg) ;
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: black;
  padding-top:35%;
  font-size: 30px;

 } 


#section2 {
 margin-top: 3%;
 margin-bottom: 5%;
 padding-top: 5%;
 padding-bottom: 5%;
 font-size: 30px;
}


#section3 {
  background-color: lightgrey;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 20px;
 }

 #section4 {
  margin-top: 5%;
  margin-bottom: 3%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  font-size: 20px;
 }

 .promo,
 .promo h3,
 .promo a:link,
 .promo a:visited,
 .promo a:hover,
 .promo a:active {
     color: whitesmoke;
   text-shadow: 0px 0px 40px black;
     text-decoration: none;
 }
 
 .promo-item {
     height: 200px;
     line-height: 180px;
     text-align: center;
 }
 
 .promo-item:hover {
     background-size: 110%; 
     border: 10px solid rgba(255,255,255,0.3);
     line-height: 160px;
 }
 
 .promo-item h3 {
     font-size: 40px;
     display: inline-block;
     vertical-align: middle;
 }


 .item-1 {
	background: url('images/headphones3.jpg');
 }
	
.item-2 {
	background: url('images/headphones3.jpg');
	}
	
.item-3 {
	background: url('images/headphones3.jpg');
	}
		
.item-1,
.item-2,
.item-3 {
	background-size: cover;
  text-align: center;
	}


  #section6 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
 }

 #section7 {
  background-color: lightgrey;
  margin-top: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
  font-size: 20px;
 }


 .btn-default {
  border-color: #fff;
  color: #222;
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}


.btn-default .badge {
  color: #fff;
  background-color: #222;
}

.btn-primary {
  border-color: rgb(45, 17, 90);;
  color: #fff;
  background-color: rgb(49, 28, 82);;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  border-color: rgb(103, 63, 167);
  color: #fff;
  background-color: rgb(103, 63, 167);
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: rgb(45, 17, 90);
  background-color: rgb(45, 17, 90);
}

.btn-primary .badge {
  color: rgb(45, 17, 90);
  background-color: #fff;
}


.btn {
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-lg {
  padding: 15px 30px;
}

