

h2{
  font-weight: bold;
}
#section1 {
  background-image: url(images/headphones.jpg) ;
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: #fff;
 } 


#section2 {
 margin-top: 5%;
 margin-bottom: 5%;
 font-size: 30px;
}


#section3 {
  background-color: lightgrey;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
 }

 #section4 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
 }


 #section5 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
 }


 #section6 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
 }

 #section7 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
 }












 .btn-default {
  border-color: #fff;
  color: #222;
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}


.btn-default .badge {
  color: #fff;
  background-color: #222;
}

.btn-primary {
  border-color: rgb(45, 17, 90);;
  color: #fff;
  background-color: rgb(49, 28, 82);;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  border-color: rgb(103, 63, 167);
  color: #fff;
  background-color: rgb(103, 63, 167);
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: rgb(45, 17, 90);
  background-color: rgb(45, 17, 90);
}

.btn-primary .badge {
  color: rgb(45, 17, 90);
  background-color: #fff;
}


.btn {
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-lg {
  padding: 15px 30px;
}




